* {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 251, 245, 1);
}
a {
  text-decoration: none;
  background-color: rgba(105, 189, 174, 1);
  color: white;
}
.logo {
  display: flex;
  float: center;
  align-items: center;
}
img {
  height: 30vh;
  margin: 10vh auto 10px auto;
}
.launch {
  text-align: center;
  font-size: 5vh;
  margin: -20px auto 40px auto;
}
div.cta {
  padding: 10px;
  margin: 50px;
  display: flex;
  justify-content: center;
}
.preorder {
  padding: 40px 180px;
  margin: 5px 115px;
  font-size: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(105, 189, 174, 1);
}
