* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(255, 251, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', serif;
}
.sabout {
  background: white url(/assets/svg/About-word-icon-hover.svg) no-repeat center;
  border-bottom: 2px solid rgb(72, 185, 165);
}
.container {
  background-color: rgb(255, 255, 255);
  align-self: center;
  margin-top: 20px;
  width: 80vw;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}

h1 {
  background-color: #45c89ac3;
  border-radius: 3px;
  height: 60px;
  text-align: center;
  color: #474747;
  margin-bottom: 20px;
  align-content: center;
}

.add {
  /* border: 1px solid rebeccapurple; */
  align-content: end;
  display: flex;
  justify-content: center;
  align-self: center;
  position: fixed;
  bottom: 5px;
  width: 80vw;
}

input {
  width: 84%;
  height: 55px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 4px;
  font-size: 25px;
}
input:hover {
  border: 1px solid #45c89a;
  font-size: 15px;
}

button {
  height: 55px;
  width: 14%;
  font-size: 24px;
  background-color: #45c89a;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #6bccaa;
}

ul {
  list-style-type: none;
  padding: 0;
  border-top: 2px solid rgba(97, 97, 97, 0.24);
  margin: 50px auto;
}

li {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  outline: 2px solid rgba(255, 0, 0, 0.308);
  height: 75px;
  margin: 15px 10px 70px 10px;
  font-size: 35px;
  overflow: auto;
}

li.completed {
  text-decoration: line-through;
  background-color: #f3a2a2;
  border: none;
  color: aliceblue;
}

.delete-btn {
  background: rgb(255, 255, 255) url(/assets/svg/delege-icon.svg) no-repeat
    center;
  border-radius: 1px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 9px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px black;
  overflow: auto;
}

.delete-btn:hover {
  background: rgb(255, 255, 255) url(/assets/svg/delete-icon-hover.svg)
    no-repeat center;
}
