@media only screen and (max-width: 800px) {
  .shome,
  .shome:hover {
    background: #ffffff url(/assets/svg/home-icon.svg) no-repeat center;
    width: 50px;
  }
  .smedia,
  .smedia:hover {
    background: #ffffff url(/assets/svg/sleepmedia-icon-hover.svg) no-repeat
      center;
    width: 50px;
  }
}
