@media only screen and (max-width: 800px) {
  .shome,
  .shome:hover {
    background: #ffffff url(/assets/svg/home-icon.svg) no-repeat center;
    width: 50px;
  }
  .ssound,
  .ssound:hover {
    background: #ffffff url(/assets/svg/sleepsound-icon-hover.svg) no-repeat
      center;
    width: 50px;
  }
}
