@media only screen and (max-width: 750px) {
  .shome,
  .shome:hover {
    background: #ffffff url(/assets/svg/home-icon.svg) no-repeat center;
    width: 50px;
  }
  .sstore,
  .sstore:hover {
    background: #ffffff url(/assets/svg/store-icon-hover.svg) no-repeat center;
    width: 50px;
  }
}
