@media only screen and (max-width: 800px) {
  * {
    scroll-behavior: smooth;
  }
  body {
    /* border: 1px solid red; */
    margin: 2px;
    justify-tracks: center;
    /* overflow-x: hidden; */
  }
  .landingscreen {
    font-size: 25px;
  }
  .introducing {
    width: 90%;
  }
  .vari {
    height: 100px;
    /* border: 1px solid red; */
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .v0,
  .v1 {
    width: 280px;
    height: 260px;
    /* border: 1px solid rebeccapurple; */
  }
  .line1,
  .line2 {
    display: inline;
  }
  .line2 {
    margin-top: -15px;
  }
  .sound1 {
    background-color: rgb(255, 255, 255);
    margin: 15px auto;
    width: 80%;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.281);
  }
  .partner {
    /* display: flex; */
    /* justify-content: center; */
    width: 70%;
    margin: 30px auto;
    border: 1px solid red;
  }
  .Dreamonp {
    height: 40px;
    width: auto;
    padding: 20px 10px;
  }
  .Edventurepark {
    width: 20%;
    height: auto;
    padding: 10px;
  }
  .about {
    margin-bottom: 55px;
  }
}
