* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  /* background-color: rgb(255, 251, 245); */
  max-width: 1500px;
  margin: auto;
  outline: 1px solid rgba(163, 163, 163, 0.13);
  font-family: 'Montserrat', serif;
}
.bgcolor {
  background-color: rgb(255, 251, 245);
}

/* -------------------above headline / below tagline------------------------ */
.tagline {
  text-align: center;
  max-width: 50vw;
  margin: 20px auto 0px;
  font-size: 4vh;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.weare {
  text-align: center;
  max-width: 50vw;
  margin: auto;
  font-size: 2.3vh;
  /* border: 1px solid red; */
}
.cta {
  /* border: 1px solid rgb(168, 168, 168); */
  background-color: rgba(209, 234, 230, 1);
  height: 4vh;
  max-width: 6vw;
  border-radius: 30px;
  margin: 30px auto 10px;
}
/* -----------------  -above tagline / below landing video------------------ */
.landingscreen {
  height: 80vh;
  text-align: center;
  background: white;
  font-size: 50px;
  align-content: center;
  color: gainsboro;
}
/* --------------------------------introducing------------------------------- */
.introducing {
  position: relative;
  width: 60vw;
  height: 75vh;
  background-color: white;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  margin: 10px auto;
  border-top: 1px solid rgba(128, 128, 128, 0.281);
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  align-content: end;
}
.introducing:before {
  content: '';
  position: absolute;
  top: 9%;
  bottom: 9%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  border-left: 1px solid rgba(128, 128, 128, 0.281);
  border-right: 1px solid rgba(128, 128, 128, 0.281);
}
/* ---------------------------------sleepsound---------------------------------- */
.headline1 {
  width: 60vw;
  /* border: 1px solid #222222; */
  text-align: center;
  margin: 30px auto -20px;
  font-weight: 600;
  font-size: 4vh;
}
b {
  color: rgba(105, 189, 174, 1);
  font-weight: 600;
}
.stitle {
  max-width: 25vw;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.sleepsounds {
  margin-bottom: 15px;
}
.sleepsound img {
  max-width: 15vw;
}
.sounds {
  height: 80vh;
  /* border: 1px solid red; */
  align-content: center;
}
.line1,
.line2 {
  /* border: 1px solid violet; */
  display: flex;
  justify-content: center;
}
.sound1 {
  border: 3px solid rgba(128, 128, 128, 0.281);
  margin: 2vw 2vw;
  height: 30vh;
  width: 15vw;
  border-radius: 8vh;
  align-content: end;
  padding-bottom: 30px;
  text-align: center;
  color: rgba(128, 128, 128, 0.281);
  padding: 25px;
}
/* ------------------------------------cta------------------------------------ */

.explore {
  /* border: 1px solid red; */
  width: 20vw;
  margin: 25px auto;
  display: flex;
  bottom: 2vh;
  justify-content: center;
}
a.cta-button {
  text-align: center;
  width: 12vw;
  height: 3.5vh;
  font-size: 2.5vh;
  padding: 2vh 1vw;
  font-weight: 600;
  border-radius: 15px;
  background-color: rgba(209, 234, 230, 1);
  color: black;
}
.vbutton {
  margin: auto;
  width: 30vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  bottom: 2px;
}
a.v-button {
  /* border: 1px solid red; */
  text-align: center;
  width: 9vw;
  height: 3.5vh;
  font-size: 2.2vh;
  padding: 2vh 1vw;
  font-weight: 600;
  border-radius: 15px;
  background-color: rgba(209, 234, 230, 1);
  color: black;
  margin: 20px;
}

/* ------------------------------------sleepmedia------------------------------- */
.grid {
  height: 90vh; /* border: 1px solid red; */
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 20px;
}
.m0 {
  grid-column: 1/2;
}
.m1 {
  grid-column: 2/4;
}
.m2 {
  grid-row: 1/3;
  grid-column: 4/5;
}
.m3 {
  grid-row: 2/4;
  grid-column: 1/4;
}
.m4 {
  grid-row: 3/4;
  grid-column: 4/4;
}
.media {
  /* border: 1px solid red; */
  background-color: rgba(220, 220, 220, 0.493);
  border-radius: 30px;
  align-content: center;
}
/* -----------------------------------holding------------------------------- */
.holding {
  height: 75vh;
  /* border: 1px solid red; */
  background: white;
}
/* ----------------------------------store---------------------------------- */
.store {
  /* border: 1px solid red; */
  height: 95vh;
  /* justify-content: center; */
  /* display: flex; */
}
.vari {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.v0,
.v1 {
  height: 500px;
  border: 1px solid gainsboro;
  background-color: rgb(255, 255, 255);
  width: 300px;
  margin: 30px;
  border-radius: 20px;
  text-align: center;
  color: gainsboro;
  align-content: center;
}
.v1 {
  margin: 15px 30px;
}
/* ------------------------------feedback-------------------------------------- */
.feedback {
  margin: 55px 25px;
  /* border: 1px solid red; */
}
/* ------------------------------about--------------------------------------- */
.about {
  margin: 20px auto 10px;
  align-content: center;
  padding: 10px;
  color: rgb(197, 197, 197);
  background: white;
  height: 30vh;
  text-align: center;
  font-weight: 600;
  width: 75vw;
  /* border: 1px solid red; */
}
h2 {
  color: #22222265;
  /* border: 1px solid red; */
  position: relative;
  top: -10px;
}
h3 {
  font-weight: 500;
}
.partner {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.copyrights {
  /* border: 1px solid red; */
  text-align: center;
  color: rgb(197, 197, 197);
  margin: 20px 40px;
  padding: 10px;
  border-top: 1px solid rgb(197, 197, 197);
}
