@media only screen and (max-width: 800px) {
  .shome,
  .shome:hover {
    background: #ffffff url(/assets/svg/home-icon.svg) no-repeat center;
    width: 50px;
  }
  .sabout,
  .sabout:hover {
    background: #ffffff url(/assets/svg/about-icon-hover.svg) no-repeat center;
    width: 50px;
  }
}
